## Data Imports

In [1]:
import pandas as pd
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt
# from sklearn import datasets   # this is if you're using preloaded datasets
import scipy.cluster.hierarchy as sc
from scipy.cluster.hierarchy import dendrogram, linkage

from sklearn.cluster import AgglomerativeClustering

## Opening netcdf file

In [2]:
# convert netcdf to csv

nc = xr.open_dataset('2020_era5_morocco_data.nc')
df = nc.to_dataframe()
df.reset_index(inplace=True)

## Fixing up the data

In [3]:
new_column_names = {
    'tp':'total_precipitation',
    'sst':'sea_surface_temp',
    'tcw':'total_column_water',
    'tcwv':'total_column_water_vapour',
    'tcrw':'total_column_rain_water',
    'kx':'k_index',
    'z':'geopotential',
}
df.rename(columns=new_column_names, inplace=True)
#df.head(1)

In [4]:
# fixing up
# make a new column: df['new_column'] = df['existing_column'] * multiplier
df['geopotential_height'] = df['geopotential'] * 1/9.80665

# removing a column
# columns_to_remove = ['B', 'C']
# df = df.drop(columns=columns_to_remove)

#fixing/adding info about the time
df['time'] = pd.to_datetime(df['time'])
# Extract year, month, day, and hour into separate columns
df['year'] = df['time'].dt.year
df['month'] = df['time'].dt.month
df['day'] = df['time'].dt.day
df['hour'] = df['time'].dt.strftime('%H:%M')

columns_to_remove = ['geopotential', 'k_index']
df = df.drop(columns=columns_to_remove)

df.head(1)

,longitude,latitude,time,u10,v10,sea_surface_temp,total_column_rain_water,total_column_water,total_column_water_vapour,total_precipitation,geopotential_height,year,month,day,hour
0,-18.0,36.0,2020-01-01 12:00:00,-2.438578,6.604807,291.942904,0.0,11.9236,11.886401,8.673617e-19,-0.205128,2020,1,1,12:00

## Put to CSV (if necessary)

In [10]:
# only run if need to
# putting data frame to csv

df.to_csv('2020_morocco_era5.csv', index=False)

Let's do the same except for the year 1979 and 2019, so we can assess temporal dependence and change

In [11]:
# 1979
nc2 = xr.open_dataset('1979_era5_morocco_data.nc')
df2 = nc2.to_dataframe()
df2.reset_index(inplace=True)

new_column_names = {
    'tp':'total_precipitation',
    'sst':'sea_surface_temp',
    'tcw':'total_column_water',
    'tcwv':'total_column_water_vapour',
    'tcrw':'total_column_rain_water',
    'kx':'k_index',
    'z':'geopotential',
}
df2.rename(columns=new_column_names, inplace=True)
df2['geopotential_height'] = df2['geopotential'] * 1/9.80665
df2['time'] = pd.to_datetime(df2['time'])
df2['year'] = df2['time'].dt.year
df2['month'] = df2['time'].dt.month
df2['day'] = df2['time'].dt.day
df2['hour'] = df2['time'].dt.strftime('%H:%M')

columns_to_remove = ['geopotential', 'k_index']
df2 = df2.drop(columns=columns_to_remove)
df2.to_csv('1979_morocco_era5.csv', index=False)

In [16]:
# nov 2020
nc2 = xr.open_dataset('hourly_november_morocco_region2_data.nc')
df2 = nc2.to_dataframe()
df2.reset_index(inplace=True)

new_column_names = {
    'tp':'total_precipitation',
    'sst':'sea_surface_temp',
    'tcw':'total_column_water',
    'tcwv':'total_column_water_vapour',
    'tcrw':'total_column_rain_water',
    'kx':'k_index',
    'z':'geopotential',
    'mtpr':'mean_total_precip_rate',
    'msmr':'mean_snow_melt_rate',
    'ptype':'precipitation_type',
}
df2.rename(columns=new_column_names, inplace=True)
df2['geopotential_height'] = df2['geopotential'] * 1/9.80665
df2['time'] = pd.to_datetime(df2['time'])
df2['year'] = df2['time'].dt.year
df2['month'] = df2['time'].dt.month
df2['day'] = df2['time'].dt.day
df2['hour'] = df2['time'].dt.strftime('%H:%M')

df2['total_precipitation'] = df2['total_precipitation'] * 1000

columns_to_remove = ['geopotential', 'k_index']
df2 = df2.drop(columns=columns_to_remove)
df2
df2.to_csv('2020nov_morocco_era5.csv', index=False)

In [17]:


new_column_names = {
    'tp':'total_precipitation',
    'sst':'sea_surface_temp',
    'tcw':'total_column_water',
    'tcwv':'total_column_water_vapour',
    'tcrw':'total_column_rain_water',
    'kx':'k_index',
    'z':'geopotential',
    'mtpr':'mean_total_precip_rate',
    'msmr':'mean_snow_melt_rate',
    'ptype':'precipitation_type',
}
df2.rename(columns=new_column_names, inplace=True)
df2['geopotential_height'] = df2['geopotential'] * 1/9.80665
df2['time'] = pd.to_datetime(df2['time'])
df2['year'] = df2['time'].dt.year
df2['month'] = df2['time'].dt.month
df2['day'] = df2['time'].dt.day
df2['hour'] = df2['time'].dt.strftime('%H:%M')

df2['total_precipitation'] = df2['total_precipitation'] * 1000

columns_to_remove = ['geopotential', 'k_index']
df2 = df2.drop(columns=columns_to_remove)
df2
#df2.to_csv('2020nov_morocco_era5.csv', index=False)

KeyError: "['k_index'] not found in axis"

In [20]:
# 1979 ALL hours
nc2 = xr.open_dataset('1979_hourly_data.nc')
df2 = nc2.to_dataframe()
df2.reset_index(inplace=True)

# Assuming df2 is your DataFrame containing the precipitation data for the year 1979
# Subset for the specified combinations
region_subset_1979 = df2[((df2['latitude'] == 27) & (df2['longitude'] == -10)) |
                         ((df2['latitude'] == 35) & (df2['longitude'] == -2)) |
                         ((df2['latitude'] == 33) & (df2['longitude'] == -4))].copy()

In [21]:
region_subset_1979

,longitude,latitude,time,u10,v10,z,mtpr,tcwv,tp
16258560,-10.0,27.0,1979-01-01 00:00:00,-3.336573,-0.489996,4607.971528,0.000000e+00,6.983117,0.000000
16258561,-10.0,27.0,1979-01-01 01:00:00,-3.274826,-0.761253,4607.971528,0.000000e+00,7.129960,0.000000
16258562,-10.0,27.0,1979-01-01 02:00:00,-3.145156,-1.021964,4607.971528,0.000000e+00,7.285650,0.000000
16258563,-10.0,27.0,1979-01-01 03:00:00,-3.010434,-1.406294,4607.971528,0.000000e+00,7.443109,0.000000
16258564,-10.0,27.0,1979-01-01 04:00:00,-2.734254,-1.630096,4607.971528,0.000000e+00,7.579337,0.000000
...,...,...,...,...,...,...,...,...,...
31965235,-2.0,35.0,1979-12-31 19:00:00,2.066898,-0.039463,2494.435967,2.054839e-06,17.835390,0.000008
31965236,-2.0,35.0,1979-12-31 20:00:00,1.571795,0.988150,2494.435967,7.991041e-07,17.837159,0.000003
31965237,-2.0,35.0,1979-12-31 21:00:00,0.970037,1.506057,2494.435967,7.420252e-07,17.723930,0.000003
31965238,-2.0,35.0,1979-12-31 22:00:00,0.836438,1.578705,2494.435967,3.424732e-07,17.957465,0.000001
31965239,-2.0,35.0,1979-12-31 23:00:00,0.730344,1.557614,2494.435967,3.424732e-07,17.680585,0.000001

In [22]:


new_column_names = {
    'tp':'total_precipitation',
    'sst':'sea_surface_temp',
    'tcw':'total_column_water',
    'tcwv':'total_column_water_vapour',
    'tcrw':'total_column_rain_water',
    'kx':'k_index',
    'z':'geopotential',
    'mtpr':'mean_total_precip_rate',
    'msmr':'mean_snow_melt_rate',
    'ptype':'precipitation_type',
}
region_subset_1979.rename(columns=new_column_names, inplace=True)
region_subset_1979['geopotential_height'] = region_subset_1979['geopotential'] * 1/9.80665
region_subset_1979['time'] = pd.to_datetime(region_subset_1979['time'])
region_subset_1979['year'] = region_subset_1979['time'].dt.year
region_subset_1979['month'] = region_subset_1979['time'].dt.month
region_subset_1979['day'] = region_subset_1979['time'].dt.day
region_subset_1979['hour'] = region_subset_1979['time'].dt.strftime('%H:%M')

region_subset_1979['total_precipitation'] = region_subset_1979['total_precipitation'] * 1000

region_subset_1979

,longitude,latitude,time,u10,v10,geopotential,mean_total_precip_rate,total_column_water_vapour,total_precipitation,geopotential_height,year,month,day,hour
16258560,-10.0,27.0,1979-01-01 00:00:00,-3.336573,-0.489996,4607.971528,0.000000e+00,6.983117,0.000000,469.882328,1979,1,1,00:00
16258561,-10.0,27.0,1979-01-01 01:00:00,-3.274826,-0.761253,4607.971528,0.000000e+00,7.129960,0.000000,469.882328,1979,1,1,01:00
16258562,-10.0,27.0,1979-01-01 02:00:00,-3.145156,-1.021964,4607.971528,0.000000e+00,7.285650,0.000000,469.882328,1979,1,1,02:00
16258563,-10.0,27.0,1979-01-01 03:00:00,-3.010434,-1.406294,4607.971528,0.000000e+00,7.443109,0.000000,469.882328,1979,1,1,03:00
16258564,-10.0,27.0,1979-01-01 04:00:00,-2.734254,-1.630096,4607.971528,0.000000e+00,7.579337,0.000000,469.882328,1979,1,1,04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31965235,-2.0,35.0,1979-12-31 19:00:00,2.066898,-0.039463,2494.435967,2.054839e-06,17.835390,0.007603,254.361680,1979,12,31,19:00
31965236,-2.0,35.0,1979-12-31 20:00:00,1.571795,0.988150,2494.435967,7.991041e-07,17.837159,0.002877,254.361680,1979,12,31,20:00
31965237,-2.0,35.0,1979-12-31 21:00:00,0.970037,1.506057,2494.435967,7.420252e-07,17.723930,0.002671,254.361680,1979,12,31,21:00
31965238,-2.0,35.0,1979-12-31 22:00:00,0.836438,1.578705,2494.435967,3.424732e-07,17.957465,0.001438,254.361680,1979,12,31,22:00
31965239,-2.0,35.0,1979-12-31 23:00:00,0.730344,1.557614,2494.435967,3.424732e-07,17.680585,0.001438,254.361680,1979,12,31,23:00

In [23]:
#region_subset_1979.to_csv('hourly_morocco_era5_1979.csv', index=False)

## Now: Clustering

In [6]:

# personal method to calculate distance between two samples
# in this case, we are using

In [7]:
import numpy as np

def calculate_dissimilarity(cluster1, cluster2):
    # Calculate dissimilarity between two clusters using average linkage criterion
    dissimilarity_sum = 0
    for point1 in cluster1:
        for point2 in cluster2:
            dissimilarity_sum += np.linalg.norm(point1 - point2)
    return dissimilarity_sum / (len(cluster1) * len(cluster2))

def merge_clusters(clusters):
    # Merge the pair of clusters with the smallest dissimilarity
    min_dissimilarity = float('inf')
    merge_indices = None
    for i in range(len(clusters)):
        for j in range(i+1, len(clusters)):
            dissimilarity = calculate_dissimilarity(clusters[i], clusters[j])
            if dissimilarity < min_dissimilarity:
                min_dissimilarity = dissimilarity
                merge_indices = (i, j)
    # Merge clusters
    merged_cluster = np.concatenate((clusters[merge_indices[0]], clusters[merge_indices[1]]), axis=0)
    new_clusters = [merged_cluster]
    for k in range(len(clusters)):
        if k not in merge_indices:
            new_clusters.append(clusters[k])
    return new_clusters

def hierarchical_clustering(data, num_clusters):
    # Initialize clusters with each data point as its own cluster
    clusters = [[point] for point in data]
    # Merge clusters iteratively until the desired number of clusters is reached
    while len(clusters) > num_clusters:
        clusters = merge_clusters(clusters)
    return clusters

In [8]:
# Example data points
data = np.array([[1, 2], [2, 3], [3, 4], [10, 12], [11, 13], [12, 47]])
# Perform hierarchical clustering to produce 3 clusters
num_clusters = 3
clusters = hierarchical_clustering(data, num_clusters)

# Print the final clusters
for i, cluster in enumerate(clusters):
    print(f"Cluster {i+1}: {cluster}")

Cluster 1: [[1 2]
 [2 3]
 [3 4]]
Cluster 2: [[10 12]
 [11 13]]
Cluster 3: [array([12, 47])]

In [9]:
data = df

# Perform hierarchical clustering to produce 3 clusters
num_clusters = 5
clusters = hierarchical_clustering(data, num_clusters)

# Print the final clusters
for i, cluster in enumerate(clusters):
    print(f"Cluster {i+1}: {cluster}")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## Visualizing with a Dendrogram

In [ ]:
# Example DataFrame with many columns
data = {'A': [1, 2, 3, 4, 5],
        'B': [4, 5, 6, 60, 43],
        'C': [7, 8, 9, 10, 11]}
df = pd.DataFrame(data)

# Specify columns for clustering and extract
columns_for_clustering = ['A', 'B']
X = df[columns_for_clustering].values

# Perform hierarchical clustering
clustering = AgglomerativeClustering(distance_threshold=0, n_clusters=None).fit(X)

# Calculate linkage matrix
linkage_matrix = linkage(X, method='average')

# Plot dendrogram
plt.figure(figsize=(10, 5))
dendrogram(linkage_matrix, labels=df.index)
plt.title('Hierarchical Clustering Dendrogram')
plt.xlabel('Sample Index')
plt.ylabel('Distance')
plt.show()

## Using personal distance method

In [ ]:
# personal method to calculate distance between two samples
#                              dissimilarity between two points
# for this we are using the F-madogram distance
def fmad_dist(x, y): 
    return np.sum(np.equal(np.array(x), np.array(y)))/len(x)

# Method to calculate distances between all sample pairs
from sklearn.metrics import pairwise_distances
def sim_affinity(X):
    return pairwise_distances(X, metric=fmad_dist)

cluster = AgglomerativeClustering(n_clusters=3,        # num of clusters
                                  metric=sim_affinity, # how you determine similarity
                                  linkage='average')
cluster.fit(X)

cluster_labels = cluster.labels_
print("Cluster labels:", cluster_labels)

## Now let's define the F-Madogram distance

In [ ]:
import numpy as np

def fmad_dist(xi, xj, Yi, Yij):
    """
    Calculate the F-madogram distance between two stations.

    Parameters:
    - xi, xj: Station locations represented as (latitude, longitude) tuples.
    - Yi, Yij: Sets of years for which there are annual maximum observations at stations xi and xj.

    Returns:
    - F-madogram distance between stations xi and xj.
    """
    Fi = empirical_distribution(xi, Yi)
    Fj = empirical_distribution(xj, Yij)

    # Calculate mean absolute difference (MAD) between two distribution functions
    mad = np.mean(np.abs(Fi - Fj))

    # Normalize MAD by the number of years with observations at both stations
    n_years = len(Yij)
    fmad_distance = mad / (2 * n_years)

    return fmad_distance

def empirical_distribution(x, Y):
    """
    Estimate empirical distribution function F(z) for station x using annual maximum observations.

    Parameters:
    - x: Station location represented as a (latitude, longitude) tuple.
    - Y: Set of years for which there are annual maximum observations at station x.

    Returns:
    - Empirical distribution function F(z) estimated for station x.
    """
    # Placeholder for empirical distribution function
    Fi = np.zeros(len(Y))

    for i, year in enumerate(Y):
        # Get annual maximum observations for station x in year
        M_y = get_annual_maxima(x, year)

        # Estimate empirical distribution function F(z)
        Fi[i] = np.mean(M_y < M_y)

    return Fi

def get_annual_maxima(x, year):
    """
    Get annual maximum observations at station x for a specific year.

    Parameters:
    - x: Station location represented as a (latitude, longitude) tuple.
    - year: Year for which to retrieve annual maximum observations.

    Returns:
    - Annual maximum observations at station x for the specified year.
    """
    # Placeholder for annual maximum observations
    M_y = np.random.rand(365)  # Example: Random data, replace with actual data retrieval

    return M_y

# Example usage
xi = (40.7128, -74.0060)  # Latitude and longitude of station xi (e.g., New York City)
xj = (34.0522, -118.2437)  # Latitude and longitude of station xj (e.g., Los Angeles)
Yi = np.arange(2000, 2022)  # Example: Years for which there are annual maximum observations at station xi
Yij = np.arange(2005, 2022)  # Example: Years when both stations xi and xj have annual maximum observations

# Calculate F-madogram distance between stations xi and xj
distance = fmad_dist(xi, xj, Yi, Yij)
print("F-madogram distance between stations xi and xj:", distance)